body {
    color: rgb(58, 45, 45);
    background: #d4d9ed;
    /* font-family: sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    /* padding: 10px 30px; */
    padding: 0 5%;
}

header h1 {
    font-size: 5rem;
    font-weight: 800;

    text-align: center;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}
.rs {
    width: 60px;
}
