body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    /* padding: 10px 30px; */
    padding: 0 5%;
}

header h1 {
    font-size: 5rem;
    font-weight: 800;

    text-align: center;
}

footer {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: auto;
    margin-bottom: 0;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    flex: 0 0 auto;
}
.rs {
    width: 60px;
}

.rs {
    fill: #444;
    background-color: #555;
}

.git a{
    color: #444;
    font-size: 14px;
}

.git a:hover {
    color: #555;
}